.green{
    width: 100%;
    height: 100%;
    font-size: 3em !important;
}

.red{
    width: 100%;
    height: 100%;
    font-size: 3em !important;
}

button{
    width: 100%;
    height: 100%;
    font-size: 3em !important;
}
